
.frame71-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 60vh;
  align-items: center;
  flex-direction: column;

}
.frame71-frame7 {
  width: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(243, 243, 243, 1);
}

//banner
.frame71-rectangle41907button {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 182px;
  position: absolute;
  border-radius: 0 0 25px 25px;
}

.frame71-frame31 {
  gap: 6px;
  top: 11px;
  left: 15px;
  width: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.frame71-text42 {
  top: 72px;
  left: 125px;
  color: rgba(30, 30, 30, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito;
  font-weight: 300;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-text43 {
  font-weight: 300;
}
.frame71-text44 {
  font-weight: 500;
}
.frame71-group6887 {
  top: 275px;
  left: 28px;
  width: 380px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group6885 {
  top: 0px;
  left: 0px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-signupbtn {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(54, 109, 159, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9.144476890563965px;
  background-color: rgba(54, 109, 159, 1);
  text-decoration: none;
}
.frame71-text49 {
  top: 10px;
  left: 57.98365020751953px;
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-group6886 {
  top: 0px;
  left: 199.83651733398438px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-signupbtn1 {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(53, 108, 159, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9.144476890563965px;
}
.frame71-text51 {
  top: 10px;
  left: 57.98361587524414px;
  color: rgba(53, 108, 159, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-frame6876 {
  gap: 20px;
  top: 154px;
  left: 40px;
  width: 357px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame71-humanity {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-humanity1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-heart13 {
  top: 13px;
  left: 12px;
  width: 31px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group36 {
  top: 3.8750011920928955px;
  left: 2.5820717811584473px;
  width: 25.833332061767578px;
  height: 23.251291275024414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group37 {
  top: 0px;
  left: 0px;
  width: 25.833332061767578px;
  height: 23.251291275024414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector30 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 23px;
  position: absolute;
}
.frame71-text53 {
  top: 67px;
  left: 5px;
  color: var(--dl-color-default-black01);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-health {
  top: 0px;
  left: 75px;
  width: 55px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-health1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-srtimerv21 {
  top: 14px;
  left: 15px;
  width: 26px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group38 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group39 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-clippathgroup {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-clip0 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector31 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}

.frame71-text55 {
  top: 68px;
  left: 12px;
  color: var(--dl-color-default-black01);
  width: 32px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-animal {
  top: 0px;
  left: 150px;
  width: 55px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-animal1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle2 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-globeearth1 {
  top: 14px;
  left: 15px;
  width: 26px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group41 {
  top: 2.1666667461395264px;
  left: 2.1666667461395264px;
  width: 21.66666603088379px;
  height: 21.66666603088379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group42 {
  top: 0px;
  left: 0px;
  width: 21.66666603088379px;
  height: 21.66666603088379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame71-vector38 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame71-text60 {
  top: 67px;
  left: 1px;
  color: var(--dl-color-default-black01);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-environment {
  top: 0px;
  left: 225px;
  width: 57px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-environment1 {
  top: 0px;
  left: 1px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-environment2 {
  top: 14px;
  left: 17px;
  width: 20px;
  height: 27px;
  position: absolute;
}
.frame71-text62 {
  top: 67px;
  color: var(--dl-color-default-black01);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-orphanage {
  top: 0px;
  left: 302px;
  width: 55px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-orphanage1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle4 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-humanity2 {
  top: 14px;
  left: 14px;
  width: 27px;
  height: 28px;
  position: absolute;
}
.frame71-text67 {
  top: 67px;
  left: 2px;
  color: var(--dl-color-default-black01);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}


//Logo
.signed-in{
  top: -23px;

  width: 34px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-component13 {
  top: 72px;
  left: 30px;
  width: 74px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-text71 {
  top: 46px;
  left: 3px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-text72 {
  font-weight: 700;
}
.frame71-component1 {
  top: 0px;
  left: 18px;
  width: 41px;
  height: 41.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-ellipse1 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame71-ll1 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 38px;
  position: absolute;
}

.frame71-border {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}

@media(max-width: 479px) {
  .frame71-rectangle41913 {
    top: 0px;
    left: -231px;
  }
  .frame71-househomehut11 {
    left: 30px;
    bottom: -457px;
  }
}


























// *,
// *::after,
// *::before{
//   box-sizing: border-box;
// }

// body{
//   font-family: "Nunico" ,sans-serif;
// }

// .wrapper{
//   max-width: 844px;
//   margin: 0 auto;
// }



// header {
//   display: flex;
//   background: #F7A8B5;
//   border-radius: 0px 0px 25px 25px;
//   width: 48vh;
//   height: 18vh;
//   position: fixed;
//   z-index: 100;
// }

// .banner {
//   display: flex; /* Use flexbox to create a flexible container */
//   align-items: center; /* Align items vertically in the center */
//   justify-content: space-between;
//   padding: 20px; /* Add padding to create space within the banner */

// }


// .logo-container {
//   margin-right: 40px; /* Add more space to move the logo to the right */
//   padding-left: 10px;
// }

// .heading-container {
//   flex-grow: 1; /* Allow the heading to expand and fill the remaining space */
//   text-align: center; /* Center align the heading within its container */
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 300;
//   font-size: 16px;
//   display: flex;
//   align-items: center;
// }

// .heading {
//   max-width: 100%; /* Limit the heading width to fit within the banner */
//   overflow: hidden; /* Hide any overflowing text */
//   text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
//   white-space: nowrap; /* Prevent wrapping of the text */
// }


// nav ul {
//   list-style: none;
//   display: flex; /* Display the list items horizontally */
//   margin-left: -24px;
// }

// nav li {
//   display: inline-block;
//   word-wrap: break-word;
//   margin-left: 29px;
// }

// nav a {
//   text-decoration: none;
//   color: black; /* Adjust the color as needed */
// }

// .circle{
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: #ffffff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 4px 4px 5px rgba(160, 160, 160, 0.25);
// }
// .circle-heart{
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: var(--blue-color);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 4px 4px 5px rgba(160, 160, 160, 0.25);
// }


// p{
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 10px;
//   text-align: center;
//   color: #3E3E3E;
//   margin-top: 10px;
//   overflow-wrap: break-word;
//   word-wrap: break-word;
//   padding-left: 9px;
//   padding-right: 25px;
// }
// .btnn{
//   padding-top: 20px;
//   display: inline-block;
//   overflow-wrap: break-word;
// }

// .register{
//   display: flex ;
// }
