*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family: "Nunico" ,sans-serif;
}

.wrapper{
  max-width: 844px;
  margin: 0 auto;
}



header {
  display: flex;
  background: #F7A8B5;
  border-radius: 0px 0px 25px 25px;
  width: 48vh;
  height: 18vh;
  position: fixed;
  z-index: 100;
}

.banner {
  display: flex; /* Use flexbox to create a flexible container */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between;
  padding: 20px; /* Add padding to create space within the banner */

}


.logo-container {
  margin-right: 40px; /* Add more space to move the logo to the right */
  padding-left: 10px;
}

.heading-container {
  flex-grow: 1; /* Allow the heading to expand and fill the remaining space */
  text-align: center; /* Center align the heading within its container */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.heading {
  max-width: 100%; /* Limit the heading width to fit within the banner */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent wrapping of the text */
}


nav ul {
  list-style: none;
  display: flex; /* Display the list items horizontally */
  margin-left: -24px;
}

nav li {
  display: inline-block;
  word-wrap: break-word;
  margin-left: 29px;
}

nav a {
  text-decoration: none;
  color: black; /* Adjust the color as needed */
}

.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 5px rgba(160, 160, 160, 0.25);
}
.circle-heart{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 5px rgba(160, 160, 160, 0.25);
}


p{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #3E3E3E;
  margin-top: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-left: 9px;
  padding-right: 25px;
}
.btnn{
  padding-top: 20px;
  display: inline-block;
  overflow-wrap: break-word;
}

.register{
  display: flex ;
}
