
.frame71-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame71-frame7 {
  width: 100%;
  height: 1363px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(243, 243, 243, 1);
}
.frame71-component24 {
  top: 661px;
  left: 28px;
  width: 380px;
  height: 294px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-rectangle41904 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 294px;
  position: absolute;
  box-shadow: 0px 9px 16px 0px rgba(81, 67, 243, 0.05000000074505806) ;
}
.frame71-lightningthunderfastswift1 {
  top: 247px;
  left: 328px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group {
  top: 2.499964475631714px;
  left: 6.2497687339782715px;
  width: 17.50046157836914px;
  height: 25.000459671020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group01 {
  top: 0px;
  left: 0px;
  width: 17.50046157836914px;
  height: 25.000459671020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 25px;
  position: absolute;
}
.frame71-text {
  top: 219px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-calendar3range1 {
  top: 216px;
  left: 27px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group02 {
  top: 1.5px;
  left: 2.25px;
  width: 13.5px;
  height: 14.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group03 {
  top: 0px;
  left: 0px;
  width: 13.5px;
  height: 14.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector01 {
  top: 0.75px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.frame71-vector02 {
  top: 0px;
  left: 3px;
  width: 7px;
  height: 10px;
  position: absolute;
}
.frame71-text02 {
  top: 241px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-locationpinmap2 {
  top: 239px;
  left: 28px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group04 {
  top: 1.3333326578140259px;
  left: 2.6666667461395264px;
  width: 10.666293144226074px;
  height: 13.334095001220703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group05 {
  top: 0px;
  left: 0px;
  width: 10.666293144226074px;
  height: 13.334095001220703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector03 {
  top: 2.6666674613952637px;
  left: 2.6666665077209473px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.frame71-vector04 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.frame71-text04 {
  top: 263px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-building21 {
  top: 262px;
  left: 29px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group06 {
  top: 1.1666640043258667px;
  left: 1.1666666269302368px;
  width: 11.083333015441895px;
  height: 11.083335876464844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group07 {
  top: 0px;
  left: 0px;
  width: 11.083333015441895px;
  height: 11.083335876464844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector05 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame71-vector06 {
  top: 2.9166693687438965px;
  left: 5.25px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.frame71-text06 {
  top: 188px;
  left: 27px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-rectangle41905 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 174px;
  position: absolute;
  border-radius: 13px;
}
.frame71-frame3 {
  gap: 6px;
  top: 11px;
  left: 15px;
  width: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame71-frame1 {
  gap: 10px;
  display: flex;
  padding: 7px 15px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 11.5px;
  background-color: rgba(2, 2, 2, 1);
}
.frame71-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-frame2 {
  gap: 10px;
  display: flex;
  padding: 7px 15px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 11.5px;
  background-color: rgba(255, 255, 255, 1);
}
.frame71-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-group6883 {
  top: 12px;
  left: 339px;
  width: 23px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-heart1 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group08 {
  top: 2.8750009536743164px;
  left: 1.9157307147979736px;
  width: 19.16666603088379px;
  height: 17.250957489013672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group09 {
  top: 0px;
  left: 0px;
  width: 19.16666603088379px;
  height: 17.250957489013672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector07 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.frame71-group6884 {
  top: 127px;
  left: 264px;
  width: 94px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-ellipse1186 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
}
.frame71-group6947 {
  top: 58px;
  left: 19px;
  width: 39.29310607910156px;
  height: 23.870769500732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-ll4 {
  top: 8px;
  left: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.frame71-maskgroup {
  top: 0px;
  left: 17px;
  width: 22.29310417175293px;
  height: 23.870769500732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-image4 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.frame71-ll5 {
  top: 8px;
  left: 20px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.frame71-text12 {
  top: 38px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-timerclock1 {
  top: 12px;
  left: 35px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group10 {
  top: 2px;
  left: 4.010885238647461px;
  width: 15.988566398620605px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group11 {
  top: 0px;
  left: 0px;
  width: 15.988566398620605px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector08 {
  top: 8px;
  left: 6.989114761352539px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.frame71-vector09 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 20px;
  position: absolute;
}
.frame71-line7 {
  top: 60px;
  left: 12px;
  width: 69px;
  height: 1px;
  position: absolute;
}
.frame71-rectangle41907button {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 182px;
  position: absolute;
  border-radius: 0 0 25px 25px;
}
.frame71-component23 {
  top: 346px;
  left: 28px;
  width: 380px;
  height: 294px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-rectangle419041 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 294px;
  position: absolute;
  box-shadow: 0px 9px 16px 0px rgba(81, 67, 243, 0.05000000074505806) ;
}
.frame71-lightningthunderfastswift11 {
  top: 247px;
  left: 328px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group12 {
  top: 2.499964475631714px;
  left: 6.2497687339782715px;
  width: 17.50046157836914px;
  height: 25.000459671020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group13 {
  top: 0px;
  left: 0px;
  width: 17.50046157836914px;
  height: 25.000459671020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector10 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 25px;
  position: absolute;
}
.frame71-text14 {
  top: 219px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-calendar3range11 {
  top: 216px;
  left: 27px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group14 {
  top: 1.5px;
  left: 2.25px;
  width: 13.5px;
  height: 14.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group15 {
  top: 0px;
  left: 0px;
  width: 13.5px;
  height: 14.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector11 {
  top: 0.75px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.frame71-vector12 {
  top: 0px;
  left: 3px;
  width: 7px;
  height: 10px;
  position: absolute;
}
.frame71-text16 {
  top: 241px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-locationpinmap21 {
  top: 239px;
  left: 28px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group16 {
  top: 1.3333326578140259px;
  left: 2.6666667461395264px;
  width: 10.666293144226074px;
  height: 13.334095001220703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group17 {
  top: 0px;
  left: 0px;
  width: 10.666293144226074px;
  height: 13.334095001220703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector13 {
  top: 2.6666674613952637px;
  left: 2.6666665077209473px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.frame71-vector14 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.frame71-text18 {
  top: 263px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-building211 {
  top: 262px;
  left: 29px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group18 {
  top: 1.1666640043258667px;
  left: 1.1666666269302368px;
  width: 11.083333015441895px;
  height: 11.083335876464844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group19 {
  top: 0px;
  left: 0px;
  width: 11.083333015441895px;
  height: 11.083335876464844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector15 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame71-vector16 {
  top: 2.9166693687438965px;
  left: 5.25px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.frame71-text20 {
  top: 188px;
  left: 27px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-rectangle419051 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 174px;
  position: absolute;
  border-radius: 13px;
}
.frame71-frame31 {
  gap: 6px;
  top: 11px;
  left: 15px;
  width: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame71-frame11 {
  gap: 10px;
  display: flex;
  padding: 7px 15px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 11.5px;
  background-color: rgba(2, 2, 2, 1);
}
.frame71-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-frame21 {
  gap: 10px;
  display: flex;
  padding: 7px 15px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 11.5px;
  background-color: rgba(255, 255, 255, 1);
}
.frame71-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-group68831 {
  top: 12px;
  left: 339px;
  width: 23px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-heart11 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group20 {
  top: 2.8750009536743164px;
  left: 1.9157307147979736px;
  width: 19.16666603088379px;
  height: 17.250957489013672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group21 {
  top: 0px;
  left: 0px;
  width: 19.16666603088379px;
  height: 17.250957489013672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector17 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.frame71-group68841 {
  top: 127px;
  left: 264px;
  width: 94px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-ellipse11861 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
}
.frame71-group69471 {
  top: 58px;
  left: 19px;
  width: 39.29310607910156px;
  height: 23.870769500732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-ll41 {
  top: 8px;
  left: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.frame71-maskgroup1 {
  top: 0px;
  left: 17px;
  width: 22.29310417175293px;
  height: 23.870769500732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-image41 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.frame71-ll51 {
  top: 8px;
  left: 20px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.frame71-text26 {
  top: 38px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-timerclock11 {
  top: 12px;
  left: 35px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group22 {
  top: 2px;
  left: 4.010885238647461px;
  width: 15.988566398620605px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group23 {
  top: 0px;
  left: 0px;
  width: 15.988566398620605px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector18 {
  top: 8px;
  left: 6.989114761352539px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.frame71-vector19 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 20px;
  position: absolute;
}
.frame71-line71 {
  top: 60px;
  left: 12px;
  width: 69px;
  height: 1px;
  position: absolute;
}
.frame71-component26 {
  top: 976px;
  left: 25px;
  width: 380px;
  height: 294px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-rectangle419042 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 294px;
  position: absolute;
  box-shadow: 0px 9px 16px 0px rgba(81, 67, 243, 0.05000000074505806) ;
}
.frame71-lightningthunderfastswift12 {
  top: 247px;
  left: 328px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group24 {
  top: 2.499964475631714px;
  left: 6.2497687339782715px;
  width: 17.50046157836914px;
  height: 25.000459671020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group25 {
  top: 0px;
  left: 0px;
  width: 17.50046157836914px;
  height: 25.000459671020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector20 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 25px;
  position: absolute;
}
.frame71-text28 {
  top: 219px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-calendar3range12 {
  top: 216px;
  left: 27px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group26 {
  top: 1.5px;
  left: 2.25px;
  width: 13.5px;
  height: 14.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group27 {
  top: 0px;
  left: 0px;
  width: 13.5px;
  height: 14.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector21 {
  top: 0.75px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.frame71-vector22 {
  top: 0px;
  left: 3px;
  width: 7px;
  height: 10px;
  position: absolute;
}
.frame71-text30 {
  top: 241px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-locationpinmap22 {
  top: 239px;
  left: 28px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group28 {
  top: 1.3333326578140259px;
  left: 2.6666667461395264px;
  width: 10.666293144226074px;
  height: 13.334095001220703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group29 {
  top: 0px;
  left: 0px;
  width: 10.666293144226074px;
  height: 13.334095001220703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector23 {
  top: 2.6666674613952637px;
  left: 2.6666665077209473px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.frame71-vector24 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.frame71-text32 {
  top: 263px;
  left: 53px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-building212 {
  top: 262px;
  left: 29px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group30 {
  top: 1.1666640043258667px;
  left: 1.1666666269302368px;
  width: 11.083333015441895px;
  height: 11.083335876464844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group31 {
  top: 0px;
  left: 0px;
  width: 11.083333015441895px;
  height: 11.083335876464844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector25 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame71-vector26 {
  top: 2.9166693687438965px;
  left: 5.25px;
  width: 3px;
  height: 6px;
  position: absolute;
}
.frame71-text34 {
  top: 188px;
  left: 27px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-rectangle419052 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 174px;
  position: absolute;
  border-radius: 13px;
}
.frame71-frame32 {
  gap: 6px;
  top: 11px;
  left: 15px;
  width: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame71-frame12 {
  gap: 10px;
  display: flex;
  padding: 7px 15px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 11.5px;
  background-color: rgba(2, 2, 2, 1);
}
.frame71-text36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-frame22 {
  gap: 10px;
  display: flex;
  padding: 7px 15px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 11.5px;
  background-color: rgba(255, 255, 255, 1);
}
.frame71-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-group68832 {
  top: 12px;
  left: 339px;
  width: 23px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-heart12 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group32 {
  top: 2.8750009536743164px;
  left: 1.9157307147979736px;
  width: 19.16666603088379px;
  height: 17.250957489013672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group33 {
  top: 0px;
  left: 0px;
  width: 19.16666603088379px;
  height: 17.250957489013672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector27 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.frame71-group68842 {
  top: 127px;
  left: 264px;
  width: 94px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-ellipse11862 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
}
.frame71-group69472 {
  top: 58px;
  left: 19px;
  width: 39.29310607910156px;
  height: 23.870769500732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-ll42 {
  top: 8px;
  left: 0px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.frame71-maskgroup2 {
  top: 0px;
  left: 17px;
  width: 22.29310417175293px;
  height: 23.870769500732422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-image42 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.frame71-ll52 {
  top: 8px;
  left: 20px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.frame71-text40 {
  top: 38px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-timerclock12 {
  top: 12px;
  left: 35px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group34 {
  top: 2px;
  left: 4.010885238647461px;
  width: 15.988566398620605px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group35 {
  top: 0px;
  left: 0px;
  width: 15.988566398620605px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector28 {
  top: 8px;
  left: 6.989114761352539px;
  width: 2px;
  height: 6px;
  position: absolute;
}
.frame71-vector29 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 20px;
  position: absolute;
}
.frame71-line72 {
  top: 60px;
  left: 12px;
  width: 69px;
  height: 1px;
  position: absolute;
}
.frame71-text42 {
  top: 72px;
  left: 125px;
  color: rgba(30, 30, 30, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Nunito;
  font-weight: 300;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-text43 {
  font-weight: 300;
}
.frame71-text44 {
  font-weight: 500;
}
.frame71-group6887 {
  top: 275px;
  left: 28px;
  width: 380px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group6885 {
  top: 0px;
  left: 0px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-signupbtn {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(54, 109, 159, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9.144476890563965px;
  background-color: rgba(54, 109, 159, 1);
}
.frame71-text49 {
  top: 10px;
  left: 57.98365020751953px;
  color: rgba(255, 255, 255, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-group6886 {
  top: 0px;
  left: 199.83651733398438px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-signupbtn1 {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 180.16348266601562px;
  height: 41px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(53, 108, 159, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9.144476890563965px;
}
.frame71-text51 {
  top: 10px;
  left: 57.98361587524414px;
  color: rgba(53, 108, 159, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-frame6876 {
  gap: 20px;
  top: 154px;
  left: 40px;
  width: 357px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame71-humanity {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-humanity1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-heart13 {
  top: 13px;
  left: 12px;
  width: 31px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group36 {
  top: 3.8750011920928955px;
  left: 2.5820717811584473px;
  width: 25.833332061767578px;
  height: 23.251291275024414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group37 {
  top: 0px;
  left: 0px;
  width: 25.833332061767578px;
  height: 23.251291275024414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector30 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 23px;
  position: absolute;
}
.frame71-text53 {
  top: 67px;
  left: 5px;
  color: var(--dl-color-default-black01);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-health {
  top: 0px;
  left: 75px;
  width: 55px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-health1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-srtimerv21 {
  top: 14px;
  left: 15px;
  width: 26px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group38 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group39 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-clippathgroup {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-clip0 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector31 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
.frame71-group40 {
  top: -0.00000442658165411558px;
  left: 1.0833289623260498px;
  width: 23.83333969116211px;
  height: 26.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector32 {
  top: 0.00000404702541345614px;
  left: 0px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.frame71-vector33 {
  top: -1.1368683772161603e-13px;
  left: 17.333337783813477px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.frame71-vector34 {
  top: 7.583337783813477px;
  left: 10.833337783813477px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.frame71-vector35 {
  top: 2.16667103767395px;
  left: 0.000004371007435111096px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame71-text55 {
  top: 68px;
  left: 12px;
  color: var(--dl-color-default-black01);
  width: 32px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-animal {
  top: 0px;
  left: 150px;
  width: 55px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-animal1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle2 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-globeearth1 {
  top: 14px;
  left: 15px;
  width: 26px;
  height: 26px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group41 {
  top: 2.1666667461395264px;
  left: 2.1666667461395264px;
  width: 21.66666603088379px;
  height: 21.66666603088379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group42 {
  top: 0px;
  left: 0px;
  width: 21.66666603088379px;
  height: 21.66666603088379px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector36 {
  top: 5.417359352111816px;
  left: 12.432597160339355px;
  width: 8px;
  height: 14px;
  position: absolute;
}
.frame71-vector37 {
  top: 1.0836819410324097px;
  left: 1.0831300020217896px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.frame71-vector38 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame71-text60 {
  top: 67px;
  left: 1px;
  color: var(--dl-color-default-black01);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-environment {
  top: 0px;
  left: 225px;
  width: 57px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-environment1 {
  top: 0px;
  left: 1px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-environment2 {
  top: 14px;
  left: 17px;
  width: 20px;
  height: 27px;
  position: absolute;
}
.frame71-text62 {
  top: 67px;
  color: var(--dl-color-default-black01);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-orphanage {
  top: 0px;
  left: 302px;
  width: 55px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-orphanage1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle4 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-humanity2 {
  top: 14px;
  left: 14px;
  width: 27px;
  height: 28px;
  position: absolute;
}
.frame71-text67 {
  top: 67px;
  left: 2px;
  color: var(--dl-color-default-black01);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-orphanage2 {
  top: 0px;
  left: 377px;
  width: 55px;
  height: 81px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-orphanage3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-circle5 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame71-text69 {
  top: 67px;
  left: 2px;
  color: var(--dl-color-default-black01);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-component13 {
  top: 72px;
  left: 30px;
  width: 74px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-text71 {
  top: 46px;
  left: 3px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-text72 {
  font-weight: 700;
}
.frame71-component1 {
  top: 0px;
  left: 18px;
  width: 41px;
  height: 41.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-ellipse1 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame71-ll1 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 38px;
  position: absolute;
}
.frame71-bars-status-bar-light {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 35.655174255371094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-battery {
  top: 17.33333396911621px;
  left: 391.33331298828125px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-border {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.frame71-cap {
  top: 3.666666030883789px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.frame71-capacity {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  border-radius: 1.3333333730697632px;
}
.frame71-wifi {
  top: 14.043822288513184px;
  left: 362.3466796875px;
  width: 18px;
  height: 9px;
  position: absolute;
}
.frame71-cellular-connection {
  top: 14.316093444824219px;
  left: 337.1199951171875px;
  width: 19px;
  height: 9px;
  position: absolute;
}
.frame71-time-style {
  top: 14.33329963684082px;
  left: 21px;
  width: 54px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-text74 {
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame71-component22 {
  top: 829px;
  left: 0px;
  width: 430px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-rectangle41913 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 66px;
  position: absolute;
  border-radius: 17px 17px 0 0;
}
.frame71-ellipse1184 {
  top: 58px;
  left: 66px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.frame71-househomehut11 {
  top: 17px;
  left: 60px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group43 {
  top: 4.136312007904053px;
  left: 4px;
  width: 24px;
  height: 23.863677978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group44 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 23.863677978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector39 {
  top: 14.530338287353516px;
  left: 6.666666507720947px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.frame71-vector40 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame71-filefolderdoc12 {
  top: 18px;
  left: 154px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group45 {
  top: 2.5px;
  left: 5px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group46 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector41 {
  top: 12.5px;
  left: 5px;
  width: 10px;
  height: 2px;
  position: absolute;
}
.frame71-vector42 {
  top: 17.5px;
  left: 5px;
  width: 10px;
  height: 2px;
  position: absolute;
}
.frame71-vector43 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.frame71-userpersonprofile2 {
  top: 18px;
  left: 339px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame71-group47 {
  top: 2.5px;
  left: 5px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-group48 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame71-vector44 {
  top: 1.1368683772161603e-13px;
  left: 3.75px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.frame71-vector45 {
  top: 15px;
  left: 0px;
  width: 20px;
  height: 10px;
  position: absolute;
}
.frame71-ll2 {
  top: 19px;
  left: 249px;
  width: 27px;
  height: 26px;
  position: absolute;
}
@media(max-width: 479px) {
  .frame71-rectangle41913 {
    top: 0px;
    left: -231px;
  }
  .frame71-househomehut11 {
    left: 30px;
    bottom: -457px;
  }
}


























// *,
// *::after,
// *::before{
//   box-sizing: border-box;
// }

// body{
//   font-family: "Nunico" ,sans-serif;
// }

// .wrapper{
//   max-width: 844px;
//   margin: 0 auto;
// }



// header {
//   display: flex;
//   background: #F7A8B5;
//   border-radius: 0px 0px 25px 25px;
//   width: 48vh;
//   height: 18vh;
//   position: fixed;
//   z-index: 100;
// }

// .banner {
//   display: flex; /* Use flexbox to create a flexible container */
//   align-items: center; /* Align items vertically in the center */
//   justify-content: space-between;
//   padding: 20px; /* Add padding to create space within the banner */

// }


// .logo-container {
//   margin-right: 40px; /* Add more space to move the logo to the right */
//   padding-left: 10px;
// }

// .heading-container {
//   flex-grow: 1; /* Allow the heading to expand and fill the remaining space */
//   text-align: center; /* Center align the heading within its container */
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 300;
//   font-size: 16px;
//   display: flex;
//   align-items: center;
// }

// .heading {
//   max-width: 100%; /* Limit the heading width to fit within the banner */
//   overflow: hidden; /* Hide any overflowing text */
//   text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
//   white-space: nowrap; /* Prevent wrapping of the text */
// }


// nav ul {
//   list-style: none;
//   display: flex; /* Display the list items horizontally */
//   margin-left: -24px;
// }

// nav li {
//   display: inline-block;
//   word-wrap: break-word;
//   margin-left: 29px;
// }

// nav a {
//   text-decoration: none;
//   color: black; /* Adjust the color as needed */
// }

// .circle{
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: #ffffff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 4px 4px 5px rgba(160, 160, 160, 0.25);
// }
// .circle-heart{
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: var(--blue-color);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 4px 4px 5px rgba(160, 160, 160, 0.25);
// }


// p{
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 10px;
//   text-align: center;
//   color: #3E3E3E;
//   margin-top: 10px;
//   overflow-wrap: break-word;
//   word-wrap: break-word;
//   padding-left: 9px;
//   padding-right: 25px;
// }
// .btnn{
//   padding-top: 20px;
//   display: inline-block;
//   overflow-wrap: break-word;
// }

// .register{
//   display: flex ;
// }
