.frame14-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame14-frame14 {
  width: 100%;
  height: 1579px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(243, 243, 243, 1);
}
.frame14-rectangle41907 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 181px;
  position: absolute;
  background: #F37A8E;
  border-radius: 0px 0px 25px 25px;
}
.frame14-group6926button {
  top: 265px;
  left: 343px;
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-ellipse1188 {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.frame14-editpenwrite1 {
  top: 13px;
  left: 13px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-group {
  top: 1.878760576248169px;
  left: 4px;
  width: 16.121238708496094px;
  height: 20.121238708496094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group01 {
  top: 0px;
  left: 0px;
  width: 16.121238708496094px;
  height: 20.121238708496094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector {
  top: 0px;
  left: 0.0003018379211425781px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.frame14-vector01 {
  top: 18.121238708496094px;
  left: 0px;
  width: 16px;
  height: 2px;
  position: absolute;
}
.frame14-text {
  top: 60px;
  left: 166px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6923button {
  top: 1292px;
  left: 37px;
  width: 356px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-signupbtn {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 356px;
  height: 55px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(54, 109, 159, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9.144476890563965px;
}
.frame14-text02 {
  top: 15px;
  left: 133px;
  color: rgba(54, 109, 159, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6924button {
  top: 1359px;
  left: 37px;
  width: 356px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-signupbtn1 {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 356px;
  height: 55px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(53, 108, 159, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9.144476890563965px;
}
.frame14-text04 {
  top: 15px;
  left: 129px;
  color: rgba(53, 108, 159, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6925button {
  top: 1426px;
  left: 37px;
  width: 356px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-signupbtn2 {
  gap: 36.57790756225586px;
  top: 0px;
  left: 0px;
  width: 356px;
  height: 55px;
  display: flex;
  padding: 13.716715812683105px 36.57790756225586px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9.144476890563965px;
  background-color: rgba(54, 109, 159, 1);
}
.frame14-text06 {
  top: 15px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6927 {
  top: 46px;
  left: 29px;
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-ellipse11881 {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.frame14-caretleftbackpreviouswest1 {
  top: 8px;
  left: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-group02 {
  top: 8.5003023147583px;
  left: 11.333636283874512px;
  width: 9.916061401367188px;
  height: 16.982290267944336px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group03 {
  top: 0px;
  left: 0px;
  width: 9.916061401367188px;
  height: 16.982290267944336px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector02 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 17px;
  position: absolute;
}
.frame14-group6956 {
  top: 329px;
  left: 32px;
  width: 366px;
  height: 239px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.frame14-text08 {
  top: 19px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-frame6900 {
  gap: 20px;
  top: 61px;
  left: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame14-group6898 {
  width: 127px;
  height: 13.800000190734863px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text10 {
  left: 28.477317810058594px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-groupsvg {
  top: 1px;
  left: 0px;
  width: 16px;
  height: 12.800000190734863px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group04 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 12.800000190734863px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector03 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 13px;
  position: absolute;
}
.frame14-vector04 {
  top: 3.200000047683716px;
  left: 3.1996092796325684px;
  width: 10px;
  height: 4px;
  position: absolute;
}
.frame14-group6900 {
  width: 124px;
  height: 17.28571319580078px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text12 {
  top: 1.0830078125px;
  left: 26.8942813873291px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-groupsvg1 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 17.28571319580078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group05 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 17.28571319580078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group06 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 17.28571319580078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector05 {
  top: 13.357234001159668px;
  left: 4.321382999420166px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame14-vector06 {
  top: -1.8189894035458565e-12px;
  left: 2.357234001159668px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.frame14-vector07 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 17px;
  position: absolute;
}
.frame14-group6899 {
  width: 65px;
  height: 16.629920959472656px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text14 {
  top: 0.8310546875px;
  left: 27.853515625px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group07 {
  top: 0px;
  left: 0px;
  width: 13.302711486816406px;
  height: 16.629920959472656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-groupsvg2 {
  top: 0px;
  left: 0px;
  width: 13.302711486816406px;
  height: 16.629920959472656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector08 {
  top: 3.326171875px;
  left: 3.32568359375px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame14-vector09 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 17px;
  position: absolute;
}
.frame14-group6901 {
  width: 103px;
  height: 13.21381950378418px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text16 {
  top: -0.0000033031949442374753px;
  left: 28.4772891998291px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group08 {
  top: 0.1689453125px;
  left: 0px;
  width: 13.75px;
  height: 13.04487133026123px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-groupsvg3 {
  top: 0px;
  left: 0px;
  width: 13.75px;
  height: 13.04487133026123px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-cake {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 13px;
  position: absolute;
}
.frame14-group6902 {
  width: 100px;
  height: 14.030685424804688px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text18 {
  top: -0.0000033031949442374753px;
  left: 28.4772891998291px;
  color: rgba(2, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group09 {
  top: 0.20784614980220795px;
  left: -0.00002760879579000175px;
  width: 13.822832107543945px;
  height: 13.822835922241211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-groupsvg4 {
  top: 0px;
  left: 0px;
  width: 13.822832107543945px;
  height: 13.822835922241211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector10 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.frame14-vector11 {
  top: 3.63759183883667px;
  left: 6.5476298332214355px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.frame14-group6910 {
  top: 602px;
  left: 39px;
  width: 359px;
  height: 97.9078369140625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text20 {
  top: 29.600000381469727px;
  color: rgba(2, 2, 2, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Nunito;
  font-weight: 300;
  line-height: 119.0999984741211%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6870 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6959 {
  top: 852px;
  left: 39px;
  width: 359px;
  height: 43.921630859375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text24 {
  top: 27.0921630859375px;
  color: rgba(2, 2, 2, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Nunito;
  font-weight: 300;
  line-height: 119.0999984741211%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group68701 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6960 {
  top: 943px;
  left: 39px;
  width: 359px;
  height: 68.74796295166016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text28 {
  top: 24.199373245239258px;
  color: rgba(2, 2, 2, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Nunito;
  font-weight: 300;
  line-height: 169.59999799728394%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group68702 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group68703 {
  top: 745px;
  left: 39px;
  width: 63px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6957 {
  top: 1060px;
  left: 39px;
  width: 54px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6958 {
  top: 1167px;
  left: 39px;
  width: 80px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-bars-status-bar-light {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 43.55862045288086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-battery {
  top: 17.33333396911621px;
  left: 391.33331298828125px;
  width: 24.32803726196289px;
  height: 11.333333015441895px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-border {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.frame14-cap {
  top: 3.666666030883789px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.frame14-capacity {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  border-radius: 1.3333333730697632px;
}
.frame14-wifi {
  top: 17.156822204589844px;
  left: 362.3466796875px;
  width: 18px;
  height: 11px;
  position: absolute;
}
.frame14-cellular-connection {
  top: 17.48944664001465px;
  left: 337.1199951171875px;
  width: 19px;
  height: 11px;
  position: absolute;
}
.frame14-time-style {
  top: 14.33329963684082px;
  left: 21px;
  width: 54px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-text41 {
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group69571 {
  top: 106.91661071777344px;
  left: 144px;
  width: 143px;
  height: 193.04388427734375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-text43 {
  top: 167.30470275878906px;
  left: 14px;
  color: rgba(2, 2, 2, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Nunito;
  font-weight: 500;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6905 {
  top: 0px;
  left: 0px;
  width: 143px;
  height: 141.56552124023438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-ellipse1186 {
  top: 0px;
  left: 0px;
  width: 143px;
  height: 142px;
  position: absolute;
}
.frame14-group6859 {
  top: 781px;
  left: 37px;
  width: 116px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(124, 160, 193, 1);
}
.frame14-text45 {
  top: 8px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6961 {
  top: 781px;
  left: 162px;
  width: 116px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(124, 160, 193, 1);
}
.frame14-text47 {
  top: 8px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6962 {
  top: 1096px;
  left: 37px;
  width: 116px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(124, 160, 193, 1);
}
.frame14-text49 {
  top: 8px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6963 {
  top: 1096px;
  left: 162px;
  width: 116px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(124, 160, 193, 1);
}
.frame14-text51 {
  top: 8px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6964 {
  top: 1203px;
  left: 40px;
  width: 116px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(124, 160, 193, 1);
}
.frame14-text53 {
  top: 8px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-group6965 {
  top: 1203px;
  left: 165px;
  width: 116px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(124, 160, 193, 1);
}
.frame14-text55 {
  top: 8px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame14-component25 {
  top: 829px;
  left: 0px;
  width: 430px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-rectangle41913 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 66px;
  position: absolute;
  border-radius: 17px 17px 0 0;
}
.frame14-househomehut11 {
  top: 17px;
  left: 60px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-group10 {
  top: 4.136312007904053px;
  left: 4px;
  width: 24px;
  height: 23.863677978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group11 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 23.863677978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector12 {
  top: 14.530338287353516px;
  left: 6.666666507720947px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.frame14-vector13 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame14-filefolderdoc12 {
  top: 18px;
  left: 154px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-group12 {
  top: 2.5px;
  left: 5px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group13 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector14 {
  top: 12.5px;
  left: 5px;
  width: 10px;
  height: 2px;
  position: absolute;
}
.frame14-vector15 {
  top: 17.5px;
  left: 5px;
  width: 10px;
  height: 2px;
  position: absolute;
}
.frame14-vector16 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  position: absolute;
}
.frame14-userpersonprofile2 {
  top: 18px;
  left: 339px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame14-group14 {
  top: 2.5px;
  left: 5px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-group15 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame14-vector17 {
  top: 1.1368683772161603e-13px;
  left: 3.75px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.frame14-vector18 {
  top: 15px;
  left: 0px;
  width: 20px;
  height: 10px;
  position: absolute;
}
.frame14-ll2 {
  top: 19px;
  left: 249px;
  width: 27px;
  height: 26px;
  position: absolute;
}
.frame14-ellipse1184 {
  top: 885px;
  left: 344px;
  width: 20px;
  height: 20px;
  position: absolute;
}
