body {
  background: rgb(241, 240, 255);
  font-family: europa-regularregular, sans-serif;
  font-weight: 400;
  color: #4a4a4a;
  background: #fff;
}

/* .form-control {
  background-color: #fff;
  border-style: none;
  border-bottom: 2px solid #e3e3e3;
} */
.form-control:focus {
  box-shadow: none;
  border-color: #4a4a4a;
  background-color: #fff;
}
.simple_form input {
  background-color: #fff;
  border-style: none;
  border-bottom: 2px solid #e3e3e3;
}
.simple_form input.button-primary {
  background-color: #3A9691;
}
.simple_form input.button-primary:hover {
  background-color: #52c4be;
}

.profile-button {
  box-shadow: 2px 2px 10px;
  border: none;
  border-radius: 30px;
}

.profile-button:hover {
  background: #066ccd
}

.profile-button:focus {
  background: #08176f;
  box-shadow: none
}

.profile-button:active {
  background: #32038e;
  box-shadow: none
}

.back:hover {
  color: #0f2e93;
  cursor: pointer
}

.button {
  letter-spacing: 0;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 3em;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease;
    padding: 11px 24px;
    background-color: #fff;
}
.button-primary {
  background-color: #3A9691;
    color: #fff;
}
.button:hover {
  color: #fff;
  background-color: #52c4be;
}
.button:active {
  background-color: #52c4be;
  color:#fff;
}
.page-wrapper {
  min-height: 80vh;
  margin: 30px 0px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: 20px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

#thumbwrap {
	position:relative;
}
.thumb span {
	position:absolute;
	visibility:hidden;
}
.thumb:hover, .thumb:hover span {
	visibility:visible;
	top:0;
	left:100px;
	z-index:1;
}
.container-form {
  width: 40vw;
  min-width: 400px;
}

.dropdown-item:active {
  background-color: #3A9691;
}

.btn, .btn::after {
  width: 200px;
  height: 40px;
  font-size: 12px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #3A9691 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 15px;
  box-shadow: 6px 0px 0px #087d43;
  outline: transparent;
  position: relative;
}

.buttons {
  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clearfix {
    clear:both;
  }
}
