<div class="container">
  <h2 class="text-center">My bookings</h2>

  <h2 class="text-center">Accepted</h2>
  <div class="row">
    <% @accepted_bookings.each do |booking| %>
      <% if booking.status == 'accepted' %>
        <%= render 'shared/booking', booking: booking, listing: booking.listing %>
      <% end %>
    <% end %>
  </div>

  <h2 class="text-center">Pending</h2>
  <div class="row">
    <% @pending_bookings.each do |booking| %>
      <% if booking.status == 'pending' %>
        <%= render 'shared/booking', booking: booking, listing: booking.listing %>
      <% end %>
    <% end %>
  </div>
</div>
