<div>
  <div class="card-container">
    <div class="card-component23">
      <img
        alt="cardframeI283"
        src="/cardframei283-a5ig.svg"
        class="card-cardframe"
      />
      <img alt="imageI283" src="/imagei283-ezjo-200h.png" class="card-image" />
      <div class="card-wishlist">
        <div class="card-heart1">
          <div class="card-heartframe">
            <div class="card-heartframe1">
              <img
                alt="VectorI283"
                src="/vectori283-0dxi.svg"
                class="card-heart"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-tags">
        <div class="card-tag1">
          <span class="card-text"><span>Elders</span></span>
        </div>
        <div class="card-tag2">
          <span class="card-text02"><span>Gardening</span></span>
        </div>
      </div>
      <span class="card-text04"><span><%= listing.name %></span></span>
      <div class="card-calendar3range1">
        <div class="card-calendar">
          <div class="card-group">
            <img
              alt="VectorI283"
              src="/vectori283-vu1e.svg"
              class="card-vector"
            />
            <img
              alt="VectorI283"
              src="/vectori283-npk.svg"
              class="card-vector1"
            />
          </div>
        </div>
      </div>
      <span class="card-text06">
        <span>Mi, 30. Juni 2023, 14:00-18:00</span>
      </span>
      <div class="card-locationpinmap2">
        <div class="card-location">
          <div class="card-group1">
            <img
              alt="VectorI283"
              src="/vectori283-v9np.svg"
              class="card-vector2"
            />
            <img
              alt="VectorI283"
              src="/vectori283-26yt.svg"
              class="card-vector3"
            />
          </div>
        </div>
      </div>
      <span class="card-text08">
        <span><%= listing.location %></span>
      </span>
      <div class="card-building">
        <div class="card-bulding">
          <div class="card-building1">
            <img
              alt="VectorI283"
              src="/vectori283-vxh9.svg"
              class="card-vector4"
            />
            <img
              alt="VectorI283"
              src="/vectori283-1cco.svg"
              class="card-vector5"
            />
          </div>
        </div>
      </div>
      <span class="card-text10"><span>Grüne Stadt Zürich</span></span>
      <div class="card-lightningthunderfastswift1">
        <div class="card-group2">
          <div class="card-group3">
            <img
              alt="VectorI283"
              src="/vectori283-av3.svg"
              class="card-vector6"
            />
          </div>
        </div>
      </div>
      <div class="card-timepoints">
        <img
          alt="Ellipse1186I283"
          src="/ellipse1186i283-wqpp-200h.png"
          class="card-ellipse1186"
        />
        <div class="card-group6947">
          <img alt="ll4I283" src="/ll4i283-fumh-200h.png" class="card-ll4" />
          <div class="card-maskgroup">
            <img
              alt="image4I283"
              src="/image4i283-7ixr-200h.png"
              class="card-image4"
            />
          </div>
          <img alt="ll5I283" src="/ll5i283-fbfr-200h.png" class="card-ll5" />
        </div>
        <span class="card-text12"><span><%= number_to_currency(listing.price_per_hour) %></span></span>
        <div class="card-timerclock1">
          <div class="card-group4">
            <div class="card-group5">
              <img
                alt="VectorI283"
                src="/vectori283-gnsp.svg"
                class="card-vector7"
              />
              <img
                alt="VectorI283"
                src="/vectori283-me92.svg"
                class="card-vector8"
              />
            </div>
          </div>
        </div>
        <img alt="Line7I283" src="/line7i283-bs95.svg" class="card-line7" />
      </div>
    </div>
  </div>
</div>
