<div>
  <div class="card-container">
    <div class="card-component23">
      <img
        src="/cardframei283-a5ig.svg"
        alt="cardframeI283"
        class="card-cardframe"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9af5d46b-21c5-4935-a34e-73ed1b327cf0/d86ea6b5-a2d6-46a2-bf55-9de9456595a5?org_if_sml=1161139"
        alt="imageI283"
        class="card-image"
      />
      <div class="card-wishlist">
        <div class="card-heart1">
          <div class="card-heartframe">
            <div class="card-heartframe1">
              <img
                src="/vectori283-0dxi.svg"
                alt="VectorI283"
                class="card-heart"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-tags">
        <div class="card-tag1">
          <span class="card-text"><span>Elders</span></span>
        </div>
        <div class="card-tag2">
          <span class="card-text02"><span>Gardening</span></span>
        </div>
      </div>
      <span class="card-text04"><span><%= listing.name %></span></span>
      <div class="card-calendar3range1">
        <div class="card-calendar">
          <div class="card-group">
            <img
              src="/vectori283-vu1e.svg"
              alt="VectorI283"
              class="card-vector"
            />
            <img
              src="/vectori283-npk.svg"
              alt="VectorI283"
              class="card-vector1"
            />
          </div>
        </div>
      </div>
      <span class="card-text06">
        <span>Mi, 30. Juni 2023, 14:00-18:00</span>
      </span>
      <div class="card-locationpinmap2">
        <div class="card-location">
          <div class="card-group1">
            <img
              src="/vectori283-v9np.svg"
              alt="VectorI283"
              class="card-vector2"
            />
            <img
              src="/vectori283-26yt.svg"
              alt="VectorI283"
              class="card-vector3"
            />
          </div>
        </div>
      </div>
      <span class="card-text08">
        <span><%= listing.location %></span>
      </span>
      <div class="card-building">
        <div class="card-bulding">
          <div class="card-building1">
            <img
              src="/vectori283-vxh9.svg"
              alt="VectorI283"
              class="card-vector4"
            />
            <img
              src="/vectori283-1cco.svg"
              alt="VectorI283"
              class="card-vector5"
            />
          </div>
        </div>
      </div>
      <span class="card-text10"><span>Grüne Stadt Zürich</span></span>
      <div class="card-lightningthunderfastswift1">
        <div class="card-group2">
          <div class="card-group3">
            <img
              src="/vectori283-av3.svg"
              alt="VectorI283"
              class="card-vector6"
            />
          </div>
        </div>
      </div>
      <div class="card-timepoints">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9af5d46b-21c5-4935-a34e-73ed1b327cf0/6b1210d3-f3fc-4f3d-a795-e7aa3c137a3e?org_if_sml=11650"
          alt="Ellipse1186I283"
          class="card-ellipse1186"
        />
        <div class="card-group6947">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9af5d46b-21c5-4935-a34e-73ed1b327cf0/9c3907cb-1bfd-4d99-96d1-f585713f01b0?org_if_sml=1375"
            alt="ll4I283"
            class="card-ll4"
          />
          <div class="card-maskgroup">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9af5d46b-21c5-4935-a34e-73ed1b327cf0/b13f177d-d9ad-4c26-ad1f-318cda1544ed?org_if_sml=194"
              alt="image4I283"
              class="card-image4"
            />
          </div>
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/9af5d46b-21c5-4935-a34e-73ed1b327cf0/2be5d831-df35-4d06-911c-4d349fb68b08?org_if_sml=1375"
            alt="ll5I283"
            class="card-ll5"
          />
        </div>
        <span class="card-text12"><span><%= listing.price_per_hour %></span></span>
        <div class="card-timerclock1">
          <div class="card-group4">
            <div class="card-group5">
              <img
                src="/vectori283-gnsp.svg"
                alt="VectorI283"
                class="card-vector7"
              />
              <img
                src="/vectori283-me92.svg"
                alt="VectorI283"
                class="card-vector8"
              />
            </div>
          </div>
        </div>
        <img src="/line7i283-bs95.svg" alt="Line7I283" class="card-line7" />
      </div>
    </div>
  </div>
</div>
