
<div>
  <link href="./frame71.css" rel="stylesheet" />
  <div class="frame71-container">
    <div class="frame71-frame7">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/a800ca19-444b-48d9-bc63-6ab7a6ef52e1?org_if_sml=11240"
        alt="Rectangle41907button2832"
        class="frame71-rectangle41907button"
      />
      <% if user_signed_in? %>
        <div class="frame71-component13"  >
          <div class="frame71-component1">
            <img src="../../assets/Lama.png" alt="Lama" class="signed-in"/>
          </div>
        </div>
      <% else %>
        <div class="frame71-component13"  >
          <span class="frame71-text71">
            <span class="frame71-text72">Karma</span>
            <span>Lama</span>
          </span>
          <div class="frame71-component1">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/19bdd650-c520-4ec7-82c0-0fc88bbce2cb?org_if_sml=1509"
              alt="Ellipse1I289"
              class="frame71-ellipse1"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/a070f8c7-0efd-4116-bfd7-b0de171745f3?org_if_sml=11973"
              alt="ll1I289"
              class="frame71-ll1"
            />
          </div>
        </div>
      <% end %>
      <span class="frame71-text42">
      <% if user_signed_in? %>
        <p>Welcome, <%= current_user.email %>!</p>
      <% else %>
        <span class="frame71-text43">Finde</span>
        <span class="frame71-text44">Unterstützungsmöglichkeiten</span>
        <span>
          <span></span>
          <br />
          <span>in deiner Umgebung!</span>
        </span>
      <% end %>
      </span>

      <!--Round Filters-->
      <div class="frame71-frame6876">
        <div class="frame71-humanity">
          <div class="frame71-humanity1">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/59081235-b262-4cd8-9094-779478ffd0ed?org_if_sml=13114"
              alt="Circle2832"
              class="frame71-circle"
            />
            <div class="frame71-heart13">
              <div class="frame71-group36">
                <div class="frame71-group37">
                  <img
                    src="../../assets/heart-white.svg"
                    alt="Vector2832"
                    class="frame71-vector30"
                  />
                </div>
              </div>
            </div>
          </div>
          <span class="frame71-text53"><span>Wishlist</span></span>
        </div>
        <div class="frame71-health">
          <div class="frame71-health1">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/2bcbd20d-c788-4883-a84e-aca7ce411bf3?org_if_sml=13005"
              alt="Circle2832"
              class="frame71-circle1"
            />
            <div class="frame71-srtimerv21">
              <div class="frame71-group38">
                <div class="frame71-group39">
                  <div class="frame71-clippathgroup">
                    <div class="frame71-clip0">
                      <img
                        src="../../assets/clock.svg"
                        alt="Vector2832"
                        class="frame71-vector31"
                      />
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="frame71-text55">
            <span>
              <span>Urgent</span>
              <br />
              <span>Tasks</span>
            </span>
          </span>
        </div>
        <div class="frame71-animal">
          <div class="frame71-animal1">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/5b66a44a-4f53-4a31-9405-617ae4c89748?org_if_sml=13005"
              alt="Circle2832"
              class="frame71-circle2"
            />
            <div class="frame71-globeearth1">
              <div class="frame71-group41">
                <div class="frame71-group42">
                  <img
                    src="../../assets/globe-earth.svg"
                    alt="Vector2832"
                    class="frame71-vector38"
                  />
                </div>
              </div>
            </div>
          </div>
          <span class="frame71-text60">
            <span>Flight &amp; Migration</span>
          </span>
        </div>
        <div class="frame71-environment">
          <div class="frame71-environment1">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/c5a0f03c-2488-4309-9bfd-98590a953e25?org_if_sml=13005"
              alt="Circle2832"
              class="frame71-circle3"
            />
            <img
              src="../../assets/tree.svg"
              alt="Environment2832"
              class="frame71-environment2"
            />
          </div>
          <span class="frame71-text62">
            <span>
              <span>Environment</span>
              <br />
              <span>&amp; Nature</span>
            </span>
          </span>
        </div>
        <div class="frame71-orphanage">
          <div class="frame71-orphanage1">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/068bbce3-17fc-4972-8609-c9d3e353ca0b/9451d69c-37a3-4fa9-94b1-17817cb70bb3?org_if_sml=13005"
              alt="Circle2832"
              class="frame71-circle4"
            />
            <img
              src="../../assets/humanity.svg"
              alt="Humanity2832"
              class="frame71-humanity2"
            />
          </div>
          <span class="frame71-text67"><span>Disabled People</span></span>
        </div>

      </div>
      <!--Register,Login-->

      <% unless user_signed_in? %>
        <div class="frame71-group6887">
          <div class="frame71-group6885">
            <div class="frame71-signupbtn"></div>
            <span class="frame71-text49"><%= link_to 'Register', new_user_registration_personal_info_path%>




</span>
          </div>
          <div class="frame71-group6886">
            <div class="frame71-signupbtn1"></div>
            <span class="frame71-text51"><span>Login</span></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="cards-listings">
    <div class="wrapper">
      <div class="row gx">
        <% @listings.each do |listing| %>
          <div class="col-sm-6 col-md-4 col-lg-3"><%= render 'shared/card', listing: listing %></div>
        <% end  %>
      </div>
    </div>
  </div>
</div>
