<div>
  <link href="./frame14.css" rel="stylesheet" />
  <div class="frame14-container">
    <div class="frame14-frame14">
      <img
        src="/rectangle419072832-aq7-500w.png"
        alt="Rectangle419072832"
        class="frame14-rectangle41907"
      />
      <div class="frame14-group6926button">
        <img
          src="/ellipse11882832-frf7-200h.png"
          alt="Ellipse11882832"
          class="frame14-ellipse1188"
        />
        <div class="frame14-editpenwrite1">
          <div class="frame14-group">
            <div class="frame14-group01">
              <img
                src="/vector2832-xer9.svg"
                alt="Vector2832"
                class="frame14-vector"
              />
              <img
                src="/vector2832-zixt.svg"
                alt="Vector2832"
                class="frame14-vector01"
              />
            </div>
          </div>
        </div>
      </div>
      <span class="frame14-text"><span>My Profile</span></span>
      <div class="frame14-group6923button">
        <div class="frame14-signupbtn">
          <span class="frame14-text02"><span>FAQs &amp; TOS</span></span>
        </div>
      </div>
      <div class="frame14-group6924button">
        <div class="frame14-signupbtn1">
          <span class="frame14-text04"><span>Delete Profile</span></span>
        </div>
      </div>
      <div class="frame14-group6925button">
        <div class="frame14-signupbtn2">
          <span class="frame14-text06"><span>Log out</span></span>
        </div>
      </div>
      <div class="frame14-group6927">
        <img
          src="/ellipse11882832-y1xc-200h.png"
          alt="Ellipse11882832"
          class="frame14-ellipse11881"
        />
        <div class="frame14-caretleftbackpreviouswest1">
          <div class="frame14-group02">
            <div class="frame14-group03">
              <img
                src="/vector2832-5cp7.svg"
                alt="Vector2832"
                class="frame14-vector02"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="frame14-group6956">
        <span class="frame14-text08"><span>Details</span></span>
        <div class="frame14-frame6900">
          <div class="frame14-group6898">
            <span class="frame14-text10"><span>Nina@gmail.com</span></span>
            <div class="frame14-groupsvg">
              <div class="frame14-group04">
                <img
                  src="/vector2832-4cfk.svg"
                  alt="Vector2832"
                  class="frame14-vector03"
                />
                <img
                  src="/vector2832-vtxr.svg"
                  alt="Vector2832"
                  class="frame14-vector04"
                />
              </div>
            </div>
          </div>
          <div class="frame14-group6900">
            <span class="frame14-text12"><span>+41 79 456 789</span></span>
            <div class="frame14-groupsvg1">
              <div class="frame14-group05">
                <div class="frame14-group06">
                  <img
                    src="/vector2832-k9e.svg"
                    alt="Vector2832"
                    class="frame14-vector05"
                  />
                  <img
                    src="/vector2832-3bg.svg"
                    alt="Vector2832"
                    class="frame14-vector06"
                  />
                  <img
                    src="/vector2832-76tl.svg"
                    alt="Vector2832"
                    class="frame14-vector07"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="frame14-group6899">
            <span class="frame14-text14"><span>Zürich</span></span>
            <div class="frame14-group07">
              <div class="frame14-groupsvg2">
                <img
                  src="/vector2832-9kdk.svg"
                  alt="Vector2832"
                  class="frame14-vector08"
                />
                <img
                  src="/vector2832-d1.svg"
                  alt="Vector2832"
                  class="frame14-vector09"
                />
              </div>
            </div>
          </div>
          <div class="frame14-group6901">
            <span class="frame14-text16"><span>22 Mai 1999</span></span>
            <div class="frame14-group08">
              <div class="frame14-groupsvg3">
                <img
                  src="/cake2832-lru.svg"
                  alt="cake2832"
                  class="frame14-cake"
                />
              </div>
            </div>
          </div>
          <div class="frame14-group6902">
            <span class="frame14-text18"><span>8004 Zürich</span></span>
            <div class="frame14-group09">
              <div class="frame14-groupsvg4">
                <img
                  src="/vector2832-kj29.svg"
                  alt="Vector2832"
                  class="frame14-vector10"
                />
                <img
                  src="/vector2832-5g7i.svg"
                  alt="Vector2832"
                  class="frame14-vector11"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame14-group6910">
        <span class="frame14-text20">
          <span>
            Lorem ipsum dolor sit amet consectetur. Lectus iaculis tempor ipsum
            placerat neque. Fames senectus sed pulvinar mauris eget sed dolor
            diam ipsum. Tincidunt at in cursus nec dictum ipsum id.
          </span>
        </span>
        <div class="frame14-group6870">
          <span class="frame14-text22"><span>About Me</span></span>
        </div>
      </div>
      <div class="frame14-group6959">
        <span class="frame14-text24">
          <span>Bachelors in Science, University</span>
        </span>
        <div class="frame14-group68701">
          <span class="frame14-text26"><span>Education</span></span>
        </div>
      </div>
      <div class="frame14-group6960">
        <span class="frame14-text28">
          <span>
            <span>4 Years, Hotel Management</span>
            <br />
            <span>2.4 Years, Inventory Management</span>
          </span>
        </span>
        <div class="frame14-group68702">
          <span class="frame14-text33"><span>Work Experience</span></span>
        </div>
      </div>
      <div class="frame14-group68703">
        <span class="frame14-text35"><span>Interests</span></span>
      </div>
      <div class="frame14-group6957">
        <span class="frame14-text37"><span>Skillset</span></span>
      </div>
      <div class="frame14-group6958">
        <span class="frame14-text39"><span>Languages</span></span>
      </div>
      </div>
      <div class="frame14-group69571">
        <span class="frame14-text43"><span>Nina Jane</span></span>
        <div class="frame14-group6905">
          <img
            src="/ellipse11862832-35dl-200h.png"
            alt="Ellipse11862832"
            class="frame14-ellipse1186"
          />
        </div>
      </div>
      <div class="frame14-group6859">
        <span class="frame14-text45"><span>Senior:innen</span></span>
      </div>
      <div class="frame14-group6961">
        <span class="frame14-text47"><span>Flucht &amp; Migration</span></span>
      </div>
      <div class="frame14-group6962">
        <span class="frame14-text49"><span>Gartenarbeit</span></span>
      </div>
      <div class="frame14-group6963">
        <span class="frame14-text51"><span>Social Media</span></span>
      </div>
      <div class="frame14-group6964">
        <span class="frame14-text53"><span>Sports</span></span>
      </div>
      <div class="frame14-group6965">
        <span class="frame14-text55"><span>Sports</span></span>
      </div>
    </div>
  </div>
</div>
