
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}



/* Media query for mobile devices */
@media (max-width: 767px) {
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ff6969;
    color: #fff;
    display: flex;
    border-radius: 17px 17px 0 0;
    padding: 10px 0 0 0;
    z-index: 999;
  }
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    display: flex;

    padding: 10px 0;
    z-index: 999;
  }
}

/* Media query for desktops */
@media (min-width: 992px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    display: flex;

    padding: 10px 0;
    z-index: 999;
  }
}
