.frame48-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame48-frame48 {
  width: 100%;
  height: 1073px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(243, 243, 243, 1);
}
.frame48-frame6954 {
  gap: 10px;
  top: 523px;
  left: 52px;
  width: 83px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.frame48-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Nunito;
  font-weight: 300;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-frame6955 {
  gap: 10px;
  top: 523px;
  left: 277px;
  width: 107px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.frame48-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Nunito;
  font-weight: 300;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-frame6956 {
  gap: 40px;
  top: 689px;
  left: 34px;
  width: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame48-group6911 {
  width: 94px;
  height: 129px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon2 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-shadow: 0px 10px 32px 0px rgba(132, 127, 112, 0.07999999821186066) ;
}
.frame48-frame {
  top: 14px;
  left: 15px;
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-ll1 {
  top: 9px;
  left: 9px;
  width: 50px;
  height: 45px;
  position: absolute;
}
.frame48-icons {
  top: 7px;
  left: 41px;
  width: 16.062959671020508px;
  height: 18.438627243041992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-xmlid669 {
  top: 0px;
  left: 0px;
  width: 16.062959671020508px;
  height: 18.438627243041992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-xmlid687 {
  top: 10.787551879882812px;
  left: 7.318273544311523px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-xmlid686 {
  top: 10.787551879882812px;
  left: 7.318273544311523px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-xmlid659 {
  top: 10.787551879882812px;
  left: 1.853600025177002px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-xmlid658 {
  top: 10.787551879882812px;
  left: 1.853600025177002px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-xmlid683 {
  top: 1.6510642766952515px;
  left: 1.6515798568725586px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.frame48-xmlid682 {
  top: 3.7061550617218018px;
  left: 3.7066707611083984px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.frame48-xmlid681 {
  top: 5.013940334320068px;
  left: 4.911476135253906px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.frame48-xmlid680 {
  top: 0.000013708089682040736px;
  left: 8.03125286102295px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid657 {
  top: 0.2847552001476288px;
  left: 9.78978443145752px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid660 {
  top: 1.092835783958435px;
  left: 11.453214645385742px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid661 {
  top: 2.3758606910705566px;
  left: 12.831341743469238px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid662 {
  top: 4.0392913818359375px;
  left: 13.924163818359375px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid663 {
  top: 5.987463474273682px;
  left: 14.589310646057129px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid665 {
  top: 8.078569412231445px;
  left: 14.827345848083496px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid666 {
  top: 9.837663650512695px;
  left: 14.589310646057129px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid667 {
  top: 11.452699661254883px;
  left: 13.876893997192383px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid668 {
  top: 12.878658294677734px;
  left: 12.783509254455566px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid674 {
  top: 12.784119606018066px;
  left: 2.2812750339508057px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid675 {
  top: 11.358160972595215px;
  left: 1.0455193519592285px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid676 {
  top: 9.694729804992676px;
  left: 0.23743878304958344px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid677 {
  top: 7.936760902404785px;
  left: -0.00003337860107421875px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid679 {
  top: 5.84565544128418px;
  left: 0.2852708399295807px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid684 {
  top: 3.8974833488464355px;
  left: 1.1406208276748657px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid685 {
  top: 2.2813220024108887px;
  left: 2.4236457347869873px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid688 {
  top: 0.9982971549034119px;
  left: 4.134908199310303px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-xmlid689 {
  top: 0.237485870718956px;
  left: 6.083080291748047px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.frame48-text07 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-group6914 {
  width: 94px;
  height: 129px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon21 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-shadow: 0px 10px 32px 0px rgba(132, 127, 112, 0.07999999821186066) ;
}
.frame48-frame01 {
  top: 15px;
  left: 15px;
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-ll11 {
  top: 9px;
  left: 9px;
  width: 50px;
  height: 45px;
  position: absolute;
}
.frame48-frame02 {
  top: 8px;
  left: 41px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame48-text09 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-group6915 {
  width: 94px;
  height: 129px;
  display: flex;
  opacity: 0.60;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon22 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-shadow: 0px 10px 32px 0px rgba(132, 127, 112, 0.07999999821186066) ;
}
.frame48-frame03 {
  top: 15px;
  left: 15px;
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-ll12 {
  top: 9px;
  left: 9px;
  width: 50px;
  height: 45px;
  position: absolute;
}
.frame48-frame04 {
  top: 9px;
  left: 40px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-frame21running {
  top: 1.48974609375px;
  left: 1.092041015625px;
  width: 15.816093444824219px;
  height: 15.020859718322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-vector {
  top: 9.017930030822754px;
  left: -2.2351741790771484e-8px;
  width: 5px;
  height: 4px;
  position: absolute;
}
.frame48-vector01 {
  top: 0.1981201171875px;
  left: 3.97430419921875px;
  width: 10px;
  height: 15px;
  position: absolute;
}
.frame48-vector02 {
  top: 0.11865234375px;
  left: 8.520263671875px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-vector03 {
  top: 4.7515869140625px;
  left: 4.98541259765625px;
  width: 7px;
  height: 10px;
  position: absolute;
}
.frame48-vector04 {
  top: 4.74685001373291px;
  left: 5.063809871673584px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.frame48-vector05 {
  top: 12.541559219360352px;
  left: 7.3736724853515625px;
  width: 4px;
  height: 2px;
  position: absolute;
}
.frame48-vector06 {
  top: 5.924180030822754px;
  left: 5.078182697296143px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.frame48-vector07 {
  top: 6.2266845703125px;
  left: 5.070556640625px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.frame48-vector08 {
  top: 10.76220703125px;
  left: 8.73175048828125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-vector09 {
  top: 9.867219924926758px;
  left: 8.893902778625488px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.frame48-vector10 {
  top: -4.470348358154297e-8px;
  left: 0.40394526720046997px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame48-vector11 {
  top: 8.658985137939453px;
  left: 0.20847661793231964px;
  width: 7px;
  height: 4px;
  position: absolute;
}
.frame48-text11 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-frame6957 {
  gap: 40px;
  top: 845px;
  left: 34px;
  width: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame48-group69151 {
  width: 94px;
  height: 129px;
  display: flex;
  opacity: 0.60;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon23 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-shadow: 0px 10px 32px 0px rgba(132, 127, 112, 0.07999999821186066) ;
}
.frame48-frame05 {
  top: 29px;
  left: 29px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.frame48-text13 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-group6916 {
  width: 94px;
  height: 129px;
  display: flex;
  opacity: 0.60;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon24 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-shadow: 0px 10px 32px 0px rgba(132, 127, 112, 0.07999999821186066) ;
}
.frame48-frame06 {
  top: 15px;
  left: 15px;
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-ll13 {
  top: 9px;
  left: 9px;
  width: 50px;
  height: 45px;
  position: absolute;
}
.frame48-frame07 {
  top: 9px;
  left: 40px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-frame21running1 {
  top: 1.48974609375px;
  left: 1.092041015625px;
  width: 15.816093444824219px;
  height: 15.020859718322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-vector12 {
  top: 9.017930030822754px;
  left: -2.2351741790771484e-8px;
  width: 5px;
  height: 4px;
  position: absolute;
}
.frame48-vector13 {
  top: 0.1981201171875px;
  left: 3.97430419921875px;
  width: 10px;
  height: 15px;
  position: absolute;
}
.frame48-vector14 {
  top: 0.11865234375px;
  left: 8.520263671875px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-vector15 {
  top: 4.7515869140625px;
  left: 4.98541259765625px;
  width: 7px;
  height: 10px;
  position: absolute;
}
.frame48-vector16 {
  top: 4.74685001373291px;
  left: 5.063809871673584px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.frame48-vector17 {
  top: 12.541559219360352px;
  left: 7.3736724853515625px;
  width: 4px;
  height: 2px;
  position: absolute;
}
.frame48-vector18 {
  top: 5.924180030822754px;
  left: 5.078182697296143px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.frame48-vector19 {
  top: 6.2266845703125px;
  left: 5.070556640625px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.frame48-vector20 {
  top: 10.76220703125px;
  left: 8.73175048828125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-vector21 {
  top: 9.867219924926758px;
  left: 8.893902778625488px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.frame48-vector22 {
  top: -4.470348358154297e-8px;
  left: 0.40394526720046997px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame48-vector23 {
  top: 8.658985137939453px;
  left: 0.20847661793231964px;
  width: 7px;
  height: 4px;
  position: absolute;
}
.frame48-text15 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-group6917 {
  width: 94px;
  height: 129px;
  display: flex;
  opacity: 0.60;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon25 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-shadow: 0px 10px 32px 0px rgba(132, 127, 112, 0.07999999821186066) ;
}
.frame48-frame08 {
  top: 15px;
  left: 15px;
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-ll14 {
  top: 9px;
  left: 9px;
  width: 50px;
  height: 45px;
  position: absolute;
}
.frame48-frame09 {
  top: 9px;
  left: 40px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame48-frame21running2 {
  top: 1.48974609375px;
  left: 1.092041015625px;
  width: 15.816093444824219px;
  height: 15.020859718322754px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-vector24 {
  top: 9.017930030822754px;
  left: -2.2351741790771484e-8px;
  width: 5px;
  height: 4px;
  position: absolute;
}
.frame48-vector25 {
  top: 0.1981201171875px;
  left: 3.97430419921875px;
  width: 10px;
  height: 15px;
  position: absolute;
}
.frame48-vector26 {
  top: 0.11865234375px;
  left: 8.520263671875px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.frame48-vector27 {
  top: 4.7515869140625px;
  left: 4.98541259765625px;
  width: 7px;
  height: 10px;
  position: absolute;
}
.frame48-vector28 {
  top: 4.74685001373291px;
  left: 5.063809871673584px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.frame48-vector29 {
  top: 12.541559219360352px;
  left: 7.3736724853515625px;
  width: 4px;
  height: 2px;
  position: absolute;
}
.frame48-vector30 {
  top: 5.924180030822754px;
  left: 5.078182697296143px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.frame48-vector31 {
  top: 6.2266845703125px;
  left: 5.070556640625px;
  width: 2px;
  height: 4px;
  position: absolute;
}
.frame48-vector32 {
  top: 10.76220703125px;
  left: 8.73175048828125px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame48-vector33 {
  top: 9.867219924926758px;
  left: 8.893902778625488px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.frame48-vector34 {
  top: -4.470348358154297e-8px;
  left: 0.40394526720046997px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.frame48-vector35 {
  top: 8.658985137939453px;
  left: 0.20847661793231964px;
  width: 7px;
  height: 4px;
  position: absolute;
}
.frame48-text17 {
  top: 110px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-group6953 {
  top: 153px;
  left: 55px;
  width: 320px;
  height: 391px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-group6952 {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 320px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-polygon7 {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 320px;
  position: absolute;
  box-shadow: 0px 11px 32px 0px rgba(166, 166, 166, 0.3400000035762787) ;
}
.frame48-polygon6 {
  top: 13px;
  left: 13px;
  width: 294px;
  height: 294px;
  position: absolute;
  box-shadow: 0px 11px 32px 0px rgba(243, 122, 142, 0.3400000035762787) ;
}
.frame48-helferherz-karmalama1 {
  top: 70px;
  left: 68px;
  width: 180px;
  height: 180px;
  position: absolute;
}
.frame48-group6950 {
  top: 260px;
  left: 117px;
  width: 87px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame48-isolation-mode {
  top: 0px;
  left: 0px;
  width: 87px;
  height: 131px;
  position: absolute;
}
.frame48-text19 {
  top: 32px;
  left: 23px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 22.5px;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-text21 {
  top: 643px;
  left: 186px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: center;
  font-family: Nunito;
  font-weight: 300;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
.frame48-line10 {
  top: 611px;
  left: 26px;
  width: 379px;
  height: 1px;
  opacity: 0.20;
  position: absolute;
}
.frame48-rectangle41910 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 109px;
  position: absolute;
  border-radius: 0 0 25px 25px;
}
.frame48-text23 {
  top: 60px;
  left: 164px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Nunito;
  font-weight: 400;
  line-height: 108.09999704360962%;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .frame48-frame6956 {
    top: 694px;
    left: 50px;
  }
  .frame48-ll1 {
    top: 3px;
    left: 8px;
  }
  .frame48-ll11 {
    top: -19px;
    left: -25px;
    width: 44px;
    height: 66px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .frame48-polygon22 {
    top: 2px;
    left: -16px;
  }
}
